.menu {
  display: inline-block;
  position: relative;
  transition-duration: 300ms;
}

.menu__button {
  border-bottom: 3px solid transparent;
  cursor: pointer;
  color: white;
  padding: 0 8px;
  user-select: none;

  &:hover,
  &:focus {
    border-bottom: 3px solid white;
  }
}
