.menu-options {
  position: absolute;
  top: 32px;
}

.menu-options__option-button {
  background-color: white;
  border-bottom: 1px solid #ddd;
  color: black;
  cursor: pointer;
  min-width: 100px;
  padding: 16px 8px;
  transition-duration: 300ms;

  &:hover,
  &:focus {
    background-color: #ddd;
  }
}
